<h1>RENT A FRIEND</h1>
<div class="cards">
  <% @friends.each do |friend| %>
    <div class="card-col">
      <div class="card-img">
        <% if friend.photo.nil? %>
          <div class="img-card" style="background-image: url('<%= asset_path 'friend.png' %>');"></div>
        <% else %>
          <div class="img-card" style="background-image: url('<%= friend.photo %>');"></div>
        <% end %>
      </div>
      <div class="card-content">
        <h2><%= friend.first_name %></h2>
        <p><%= friend.friendship_category %></p>
        <div class="common-btn">
          <%= link_to "More Info", friend_path(friend.id) %>

        </div>
      </div>
    </div>
  <% end %>
</div>
