
<div class="links">
  <div class="backlink">
    <%= link_to friends_path do %>
      <i class="fas fa-chevron-left"></i>
    <% end %>
  </div>
  <div class="edit-link">
    <%= link_to edit_friend_path(@friend) do %>
        <i class="fas fa-edit"></i>
    <% end %>
  </div>
</div>

<div class="friend-card">
  <div class="friend-picture">
    <%= image_tag(@photo, class: "img-friend", :alt => "friend") %>
  </div>

  <div class="friend-content">
      <h1><%= "#{@friend.first_name} #{@friend.last_name}" %></h1>
    <div class="infos">
      <p><i class="fas fa-home"></i> <%= @friend.location %></p>
      <p><i class="fas fa-money-check-alt"></i> <%= @friend.price_p_hour %>$ / hour</p>
    </div>
    <div class="friend-category">
      <p>Category</p>
      <p class="color-category"><%= @friend.friendship_category %></p>
    </div>
    <div class="description-friend">
      <p><%= @friend.description %></p>
    </div>
    <div class="footer-card">
      <div class="bookme-btn">
        <%= link_to 'Book me', new_friend_booking_path(@friend) %>
      </div>
    </div>
  </div>
</div>

<% unless @friend.reviews.count == 0 %>
  <h6>Reviews</h6>
  <div class="reviews-cards">
      <% @friend.reviews.each do |review| %>
        <div class="review">
          <div class="author">
            <p><i class="fas fa-user"></i> <%= review.friend.user.email %></p>
          </div>
          <div class="flex">
            <div class="review-text">
              <p><%= review.content %></p>
            </div>
            <div class="rate">
              <p><%= review.rating %></p>
            </div>
          </div>
        </div>
      <% end %>
  </div>
<% end %>





















