<div class="content row">
  <div class="banner-friend col-6">
    <% if @friend.photo.nil? %>
      <%= image_tag("friend.png", :class => "img-friend") %>
    <% else %>
      <%= image_tag(friend.photo, :class => "img-friend") %>
    <% end %>
  </div>

  <div class="friend-card col-6">
    <h1><%= "#{@friend.first_name} #{@friend.last_name}" %></h1>
      <p><span class="price"><%= @friend.price_p_hour %>$</span> / hour</p>
      <h4><%= @friend.friendship_category %></h4>
    <div class="description-friend">
      <p><%= @friend.description %></p>
    </div>
    <div class="btn btn-primary">
      <%= link_to 'Book me', new_friend_booking_path(@friend) %>
    </div>
  </div>
</div>



