<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <%= simple_form_for @booking do |f| %>
        <%= f.association :friend  %>
        <%= f.input :start_time %>
        <%= f.input :end_time %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>

